<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>直接插入排序、希尔排序</string>
	<string>冒泡排序、快速排序</string>
	<string>归并排序</string>
	<string>二分查找</string>
	<string>哈希表</string>
	<string>问题 : 给定一个有符号整型数,将这个数字反转并输出：
给定 123 输出 321 
给定 250 输出 52</string>
	<string>一段英文单词逆序输出，类似这样： 
hello my name is Jack 
输出： Jack is name my hello   </string>
	<string>有一个int类型的数组，如何找出里面第二大的数，同时算法的时间复杂度是多少？</string>
	<string>找出数组中重复出现过的元素</string>
	<string>判断两个单链表是否交叉，并求出交叉点</string>
	<string>二维数组回形遍历</string>
	<string>hkhkh发货后发货客服反馈峰会上开发和是否合法分开很舒服卡夫卡是否就ing你的hi个大大师伯急促部分你列表发的打撒北里护理费很舒服六氟化硫福建省路费官方价格价格</string>
</array>
</plist>
