<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>直接插入排序、希尔排序</string>
	<string>冒泡排序、快速排序</string>
	<string>归并排序</string>
	<string>二分查找</string>
	<string>哈希表</string>
	<string>问题 : 给定一个有符号整型数,将这个数字反转并输出：
给定 521 输出 125</string>
	<string>一段英文单词逆序输出，类似这样： 
hello my name is WSL.
输出： WSL. is name my hello   </string>
	<string>有一个int类型的数组，如何找出里面第二大的数，同时算法的时间复杂度是多少？</string>
	<string>找出数组中重复出现过的元素</string>
	<string>二维数组回形遍历</string>
	<string>求两个数组的交集</string>
	<string>两个类的最近公共父类 或 两个单链表的第一个公共结点 或 二叉树上两个子结点的最近公共结点</string>
</array>
</plist>
